#!/usr/bin/env bash

cd $(dirname $0)

SCRIPT_DIR="{{ cockroachdb_dir_app }}"
SCRIPT_BIN="{{ cockroachdb_dir_app }}/cockroach"
SCRIPT_STDOUT="{{ cockroachdb_dir_log }}/cockroach.out"
SCRIPT_USER="{{ cockroachdb_user }}"
PROCESS="{{ cockroachdb_dir_app }}/cockroach"

cd $SCRIPT_DIR
[[ $(./status.sh) == "stopped" ]] && echo "already stopped" && exit 0
sudo -u $SCRIPT_USER -i bash -c "pkill -9 -f \"$PROCESS\""

